<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'common/css/base.css' %}" rel="stylesheet">
		<link href="{% static 'posts/css/userprofile.css' %}" rel="stylesheet">
		<link href="{% static 'posts/css/post.css' %}" rel="stylesheet">
		<script src="{% static 'common/js/jquery-2.1.1.js' %}"></script>
		<title> {% block title %}{% endblock %} | blogg</title>
	</head>
	<body>
		
		<!-- wrap container -->
		<div id="wrap">
		<nav class="navbar navbar-inverse navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{% url 'home' %}">Blogg</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="{% url 'home' %}" class="glyphicon glyphicon-home"> Home</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'profile' user.username %}" class="glyphicon glyphicon-hdd"> Profile</a></li>
					<li><a href="{% url 'add_post' %}" class="glyphicon glyphicon-comment"> NewPost</a></li>
				{% endif %}
		      </ul>
		      <form class="navbar-form navbar-left search" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" class="glyphicon glyphicon-search" placeholder="Search posts, authors">
		        </div>
		        <button type="submit" class="btn btn-default btn-primary glyphicon glyphicon-search"> Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
		            <li class="dropdown">
		              <button type="button" class="dropdown-toggle user-info btn btn-default btn-primary" data-toggle="dropdown">{{ user.username.upper }} <span class="caret"></span></button>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{% url 'profile' user.username %}" class="glyphicon glyphicon-hdd"> MyProfile</a></li>
		                <li><a href="{% url 'add_post' %}" class="glyphicon glyphicon-comment"> NewPost</a></li>
		                <li class="divider"></li>
						<li><a href="{% url 'logout' %}" class="glyphicon glyphicon-log-out"> Logout</a></li>
		              </ul>
		            </li>
				{% else %}
				    <li class="login"><a href="{% url 'login' %}" class="glyphicon glyphicon-log-in"> Login</a></li>
				{% endif %}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			    {% block body_block %}{% endblock %}
		</div>
	</div> <!-- wrap close -->
		<div class="footer navbar">
			All rights reserved. blogg&trade;
		</div>
	<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
	<script>
	var path = "{{ request.get_full_path }}"
	$(function(){
	  $('a').each(function() {
	    if ($(this).attr('href') == path) {
	      $(this).closest('li').addClass('active');
	    }
	  });
	});
	</script>
	</body>
</html>
