.user_image_home img {
	-moz-border-radius: 52px;
	-webkit-border-radius: 52px;
	border-radius: 52px;
	width: 50px;
	height: 50px;
}

.pager {
	margin-bottom: 70px;
}

/* styling for right nav */

.right-nav {
	float: right;
	width: 25%;
	margin-top: 30px;
}

.content {
	float: left;
	width: 65%;
}

/* styling for home */

.info {
	text-align: right;
}
