html,
body {
	height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #eee;
}

.navbar {
	border-radius: 0px;
}

.user-info {
	margin-top: 7px;
}

.login {
	color: white;
}

.search {
	margin-left: 15%;
}

/* styling for footer */

.footer {
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 0px;
	margin-bottom: 0px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
	margin-bottom: 0px;
}