<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
	<head>
		<link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'login/css/register.css' %}" rel="stylesheet">
		<title>Register | blogg</title>
	</head>
	<body>
		<div class="container">
		<div id="msg" style="text-align:center;color:red;">{{ msg }}</div>
		<form class="form-signin" method="post" action="{% url 'register' %}">
			<h2 class="form-signin-heading">Register Here</h2>
			{% csrf_token %}
			{{ form.first_name|add_class:"form-control"|attr:"placeholder:Firstname"|attr:"required"|attr:"autofocus" }}
			{{ form.last_name|add_class:"form-control"|attr:"placeholder:Lastname"|attr:"required" }}
			{{ form.email|add_class:"form-control"|attr:"placeholder:Email Id"|attr:"required" }}
			{{ form.username|add_class:"form-control"|attr:"placeholder:Username"|attr:"required" }}
			{{ form.password|add_class:"form-control"|attr:"placeholder:Password"|attr:"required" }}
			
			<input class="btn btn-primary" type="submit" value="Register" >
			<a class="btn btn-primary" href="{% url 'login' %}">Login</a>
		</form>
	    </div>
		<script src="{% static 'common/js/jquery-2.1.1.js' %}"></script>
		<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
	</body>
</html>