{% extends 'posts/base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}
    <h2>Popular Posts</h2>
	<hr/>
	{% for post_image in posts_images %}
		<h4><a href="{% url 'post' post_image.post.id %}">{{ post_image.post.post_title }}</a></h4>
		{{ post_image.post.post_content }} <br/>
		<div class="info">
			<span class="user_image_home"><img src="{{ post_image.gravatar_url }}"></span>  {{ post_image.post.username }} <span class="likes">Likes:{{ post_image.post.likes }}</span> <span class="visits">Visits:{{ post_image.post.visits }}</span>
		</div>
		<hr/>
	{% endfor %}
{% endblock %}
