{% extends 'posts/base.html' %}

{% block title %} Home {% endblock %}

{% block body_block %}
    <h2>Popular Posts</h2>
	<hr/>
	{% for post_image in posts_pages %}
		<h4><a href="{% url 'post' post_image.post.id %}">{{ post_image.post.post_title }}</a></h4>
		{{ post_image.post.post_content }} <br/>
		<div class="info">
			<span class="user_image_home"><img src="{{ post_image.gravatar_url }}"></span><a href="{% url 'profiles' post_image.post.username %}">{{ post_image.post.username }}</a> <span class="likes">Likes:{{ post_image.post.likes }}</span> <span class="visits">Visits:{{ post_image.post.visits }}</span>
		</div>
		<hr/>
	{% endfor %}
        {% if posts_pages.has_previous %}
            <a href="?page={{ posts_pages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts_pages.number }} of {{ posts_pages.paginator.num_pages }}
        </span>

        {% if posts_pages.has_next %}
            <a href="?page={{ posts_pages.next_page_number }}">next</a>
        {% endif %}
{% endblock %}
