{% extends 'common/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body_block %}
	<link href="{% static 'posts/css/home.css' %}" rel="stylesheet">
	<div class="content">
    <h2>Latest Posts</h2>
	<hr/>
	{% for post_image in posts_pages %}
		<h4><a href="{% url 'post' post_image.post.id %}">{{ post_image.post.post_title }}</a></h4>
		{{ post_image.post.post_content }} <br/>
		<div class="info">
			<span class="user_image_home"><img src="{{ post_image.gravatar_url }}"></span><a href="{% url 'profile' post_image.post.username.username %}">{{ post_image.post.username.username }}</a> <span class="likes">Likes:{{ post_image.post.likes }}</span> <span class="visits">Visits:{{ post_image.post.visits }}</span>
		</div>
		<hr/>
	{% endfor %}
	<ul class="pager">
        {% if posts_pages.has_previous %}
            <li><a href="?page={{ posts_pages.previous_page_number }}">previous</a></li>
        {% endif %}
        <span class="current">
            <li>Page {{ posts_pages.number }} of {{ posts_pages.paginator.num_pages }}</li>
        </span>
        {% if posts_pages.has_next %}
            <li><a href="?page={{ posts_pages.next_page_number }}">next</a></li>
        {% endif %}
	</ul>
	</div>
	<div class="right-nav">
		<h4>Popular posts</h4>
		<ul class="list-group">
		  <a href="#" class="list-group-item">Checking logging</a>
		  <a href="#" class="list-group-item">Asus</a>
		  <a href="#" class="list-group-item">I am a new user</a>
		</ul>
		<h4>Popular Authors</h4>
		<ul class="list-group">
		  <li  class="list-group-item"><span class="badge">5</span><a href="#">Steve</a></li>
		  <li class="list-group-item"><span class="badge">4</span><a href="#">Satish</a></li>
		  <li class="list-group-item"><span class="badge">14</span><a href="#">Dinesh</a></li>
		</ul>
	</div>
{% endblock %}
