{% extends 'common/base.html' %}

{% block title %} UserProfile {% endblock %}

{% block body_block %}
	<h3>{{ name }}</h3>
	<div id="user_image">
		<img src="{{ gravatar_url }}">
	</div>
	<br/>
	{% if user %}
		{{ error }}
		{% for post in posts %}
			<h4><a href="{% url 'post' post.id %}">{{ post.post_title }}</a></h4> 
			{% if is_user_author %}
			    <a href="{% url 'edit_post' post.id %}">edit</a> <a href="{% url 'delete' post.id %}">delete</a>
			{% endif %}
		{% endfor %}
	{% else %}
		<i> Author is not available </i>
	{% endif %}
{% endblock %}	
